.wrapper {
    display:grid;
    margin: 5%;
}

.card {
    min-height:223px;
    height: 75%;
    width: 75%;
    border-radius: 15px;
    margin-right:1em;
}

#header {
    text-align: center;
    font-weight: bold;
}

#game-board {
    display: grid;
    margin:1em;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    grid-template-areas:
    "rowone"
    "rowtwo"
}

.row-one {
    margin:1em;
    justify-content:space-evenly;
    grid-area: rowone; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
}

.row-two {
    margin:1em;
    justify-content:space-evenly;
    grid-area: rowtwo;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.faye {
    content: url(img/faye.jpeg);
}

.frankie {
    content: url(img/frankie.jpeg);
}

.l {
    content: url(img/l.jpeg);
}

.slowbro {
    content: url(img/slowbro.png);
}

.spike {
    content: url(img/spike.jpeg);
}

.back {
    content: url(img/card-back.png);
    display: block;
}

.got-it {
    border-width: 2px;
    border-style:solid;
    border-color:greenyellow;
}